streamlit
pandas
plotly
geopy
streamlit-folium
folium
googlemaps
google-auth
google-auth-oauthlib
gspread
sendgrid
fpdf
oauth2client
gspread-dataframe
streamlit==1.38.0
pandas==2.2.2
plotly==5.24.0
google-api-python-client
pdfkit
streamlit-option-menu
